<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1年（12期）</string>
	<string>2年（24期）</string>
	<string>3年（36期）</string>
	<string>4年（48期）</string>
	<string>5年（60期）</string>
	<string>6年（72期）</string>
	<string>7年（84期）</string>
	<string>8年（96期）</string>
	<string>9年（108期）</string>
	<string>10年（120期）</string>
	<string>11年（132期）</string>
	<string>12年（144期）</string>
	<string>13年（156期）</string>
	<string>14年（168期）</string>
	<string>15年（180期）</string>
	<string>16年（192期）</string>
	<string>17年（204期）</string>
	<string>18年（216期）</string>
	<string>19年（228期）</string>
	<string>20年（240期）</string>
	<string>21年（252期）</string>
	<string>22年（264期）</string>
	<string>23年（276期）</string>
	<string>24年（288期）</string>
	<string>25年（300期）</string>
	<string>26年（312期）</string>
	<string>27年（324期）</string>
	<string>28年（336期）</string>
	<string>29年（348期）</string>
	<string>30年（360期）</string>
</array>
</plist>
