<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1成</string>
	<string>2成</string>
	<string>3成</string>
	<string>4成</string>
	<string>5成</string>
	<string>6成</string>
	<string>7成</string>
	<string>8成</string>
	<string>9成</string>
</array>
</plist>
